.rico-logo {
    stroke-width: 0;
    stroke-dasharray: 1 400;
    stroke-opacity: 0;
    animation: mountRicoLogo 4s ease 1 forwards;
}

@keyframes mountRicoLogo {
    from {
        stroke-width: 0;
        stroke-opacity: 0;
        stroke-dasharray: 1 400;
        fill-opacity: 0;
    }
    50% {
        stroke-width: 4;
        stroke-dasharray: 400 0;
        stroke-opacity: 1;
    }
    80%,
    100% {
        fill: $white-normal;
    }
}