.rico-logo {
    stroke-width: 0;
    stroke-dasharray: 1 400;
    stroke-opacity: 0;
    fill-opacity: 0;
    fill: $white-normal;
    animation: mountRicoLogo 2s ease 1 forwards;
}

@keyframes mountRicoLogo {
    from {
        stroke-width: 0;
        stroke-opacity: 0;
        stroke-dasharray: 1 400;
        fill-opacity: 0;
    }
    50%,
    90% {
        stroke-width: 4;
        stroke-dasharray: 400 0;
        stroke-opacity: 1;
        fill-opacity: 0;
    }
    100% {
        fill-opacity: 1;
    }
}