.card-wrapper {
    .card {
        display: none;
        .card-rect {
            transition: all .8s ease;
        }
        &.is-active {
            display: block;
        }
        // animation: card-animation 3s ease infinite alternate;
        &.card-default {
            .card-rect {
                fill: $orange;
            }
        }
        &.card-black {
            .card-rect {
                fill: #1f1f1f;
            }
        }
        &.card-gradient-1.card-front {
            .card-rect {
                fill: url(#gradient-1);
            }
        }
        &.card-gradient-1.card-verse {
            .card-rect {
                fill: url(#gradient-1-verse);
            }
        }
        &.card-gradient-2.card-front {
            .card-rect {
                fill: url(#gradient-2);
            }
        }
        &.card-gradient-2.card-verse {
            .card-rect {
                fill: url(#gradient-2-verse);
            }
        }
    }
}

@keyframes card-animation {
    from {
        transform: translate(0px, 0px);
    }
    to {
        transform: translate(0px, 5px);
    }
}