body {
    background-color: $white-dark;
}

// HEADER (CABEÇALHO)
header {
    background-color: $orange;
    width: 100%;
    .header-wrapper {
        @include container;
        max-width: 100%;
        // margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        padding: 10px 30px;
        .header-logo {
            max-height: 56px;
        }
    }
}

// HEADER MENU
.header-menu {
    .menu-list {
        list-style: none;
        @include flex;
        .menu-item {
            &+.menu-item {
                margin-left: 16px;
            }
            .menu-link {
                @include typeface-2(16);
                text-decoration: none;
                color: $white-normal;
                text-transform: capitalize;
                padding: 10px;
            }
            transition: .7s ease;
            &:hover {
                background-color: $white-normal;
                .menu-link {
                    color: $orange;
                }
            }
        }
        @include responsive(small) {
            display: none;
        }
    }
}

//  HEADER MENU MOBILE
%line {
    content: '';
    width: 80%;
    height: 2px;
    top: 0;
    left: 0;
    background-color: $white-normal;
    position: absolute
}

#bx {
    height: 36px;
    width: 36px;
    cursor: pointer;
    background: transparent;
    display: none;
    align-self: start;
    position: relative;
    &::after,
    &::before {
        @extend %line;
    }
    &::after {
        top: 70%;
    }
    &::before {
        top: 90%;
    }
    @include responsive(small) {
        display: block;
    }
}

.menu-mobile {
    position: absolute;
    pointer-events: none;
    height: 100vh;
    top: 0;
    left: -9999px;
    width: 75vw;
    z-index: 999;
    transition: .3s ease;
    @include flex;
    padding: $padding-module / 2;
    align-items: start;
    background-color: $white-normal;
    .menu-mobile-list {
        list-style: none;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        .menu-item {
            margin-bottom: 16px;
            border-bottom: 1px solid $gray;
            .menu-link {
                @include typeface-2(18);
                text-decoration: none;
                color: $orange;
                text-transform: capitalize;
                padding: 10px;
            }
        }
    }
    &.is-active {
        @include responsive(small) {
            left: 0;
            pointer-events: all;
        }
    }
}

// CONTENT
.content-wrapper {
    display: grid;
    margin: 0 auto;
    grid-template: "aside" "hero" / 100%;
    @include responsive(large) {
        grid-template: "hero aside" / 1fr minmax(140px, 340px);
    }
}

// HERO (PERSONALIZAR CARTÃO)
.hero {
    @include container;
    grid-area: hero;
    margin: 0;
    gap: to-rem(196);
    @include responsive(medium) {
        flex-direction: column;
        margin-top: 48px;
        gap: to-rem(48);
        align-items: start;
    }
    @include responsive(small) {
        margin-top: 48px;
        flex-direction: column;
        gap: to-rem(48);
        align-items: center;
    }
}

.hero-content {
    .hero-heading {
        @include typeface-1(32);
        margin-bottom: to-rem(32);
    }
    .hero-subheading {
        @include typeface-1(18);
        margin-bottom: to-rem(16);
        margin-top: to-rem(32);
    }
    .hero-helper {
        @include typeface-2(16);
        margin-bottom: to-rem(16);
        margin-top: to-rem(16);
    }
    .hero-helper.card-info {
        margin-top: to-rem(-8) !important;
    }
    label,
    input[type="text"] {
        display: block;
        @include typeface-2(16)
    }
    input[type="text"] {
        background: transparent;
        border: none;
        border-bottom: 2px solid $gray;
        padding: 5px;
        transition: border .3s ease;
        width: 200px;
        &:focus,
        &:hover {
            outline: none;
            border-bottom: 2px solid $orange;
        }
    }
    margin-bottom: 48px;
    max-width: 90vw;
    @include responsive(large) {
        margin-bottom: unset;
        max-width: unset;
    }
}

.input-error-message {
    color: transparentize(red, 0.2);
    opacity: 0;
    user-select: none;
    @include typeface-2(16);
}

.hero-buttons {
    margin-top: to-rem(48);
    display: flex;
    gap: to-rem(16)
}

// CARD
.card-wrapper {
    @include flex;
    flex-direction: column;
    @include responsive(large) {
        align-self: end;
    }
    .card {
        max-width: 300px;
        height: auto;
        margin-bottom: 24px;
    }
}

// ASIDE (RASCUNHOS/CARTOES SALVOS)
aside.drafts {
    grid-area: aside;
    @include container;
    overflow: hidden;
    padding: 40px 5px;
    border-radius: 5px;
    flex-direction: column;
    max-height: 95%;
    margin: 1rem;
    margin: 0 auto;
    margin-top: 48px;
    color: $white-normal;
    width: calc(100% - 20px);
    background: $blue-dark;
    @include responsive(large) {
        width: 90%;
        margin: 1rem;
    }
    .drafts-heading {
        @include typeface-1(24);
        margin-bottom: to-rem(32);
    }
}

.drafts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
    justify-content: center;
    width: 100%;
    @include responsive(large) {
        grid-auto-flow: row;
        grid-template-columns: 100%;
    }
    row-gap: to-rem(32);
    padding: 10px;
    list-style: none;
    .draft-item {
        position: relative;
        width: 100%;
        @include flex;
        align-items: center;
        gap: to-rem(8);
        @include typeface-2(16);
        .draft-image {
            width: 56px;
        }
        .draft-overlay {
            opacity: 0;
            transition: .1s ease;
            position: absolute;
            width: 100%;
            pointer-events: none;
            top: 0px;
            left: 0px;
            bottom: 0px;
            right: 0px;
            background-color: $gray;
            height: 100%;
            .overlay-content {
                display: flex;
                gap: 8px;
                padding: 10px;
                height: 100%;
                align-items: center;
                // pointer-events: none;
                button {
                    max-width: 50%;
                }
            }
            @include responsive(small) {
                position: relative;
                background-color: transparent;
                opacity: 1;
                pointer-events: all;
                height: auto;
                button+button {
                    margin-left: 8px;
                }
            }
        }
        &:hover {
            .draft-overlay {
                opacity: 1;
                pointer-events: all;
            }
        }
        @include responsive(medium) {
            width: 100%;
            flex-direction: column;
        }
        @include responsive(small) {
            width: 100%;
            flex-direction: column;
        }
    }
}